@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 컬러변수 */
:root{
    --color-0-gray: rgb(201, 201, 201);
    --color-1-navy: rgb(0, 19, 128);
    --color-2-green: green;
    --color-3-orange: rgb(238, 123, 30);
    --color-4-sky: rgb(0, 204, 255);
    --color-5-purple: rgb(86, 44, 201);
    --color-6-brown: rgb(133, 51, 26);
    --color-7-grass: rgb(115, 128, 0);
    --color-8-pink: rgb(235, 59, 156);
}

/* 컬러 변경 */
.color-gray{
    fill: var(--color-0-gray);
}
.color-navy{
    fill: var(--color-1-navy);
}
.color-green{
    fill: var(--color-2-green);
}
.color-orange{
    fill: var(--color-3-orange);
}
.color-sky{
    fill: var(--color-4-sky);
}
.color-purple{
    fill: var(--color-5-purple);
}
.color-brown{
    fill: var(--color-6-brown);
}
.color-grass{
    fill: var(--color-7-grass);
}
.color-pink{
    fill: var(--color-8-pink);
}


/* 데스크탑 */

* {
    font-family: pretendard;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(247, 247, 247);
}
header{
    padding: 60px 36px 60px 36px; 
}
h1{
    font-size: 36px;
    text-align: center;
}
main{
    padding: 0px 36px 0px 36px;
    display: flex;
    flex-direction: column;   
    gap: 90px;
    align-items: center;
}
.search-section{
    display: flex;
}
.search-containers{
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: center;

}
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-title{
    font-size: 20px;
    font-weight: 700;
}
.search-station{
    display: flex;
    align-items: center;
    position: relative;
}
.search-design{
    width: 500px;
    height: 500px;
}
.search-station-center{
    position: absolute;
    left: 50%;
    top: 51.5%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.search-input{
    border: 1px solid rgb(182, 182, 182);
    width: 240px;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 14px 8px 14px;
    border-radius: 6px;
    text-align: center;
    margin: 0px;
}
.search-input::placeholder{
    color:rgb(194, 194, 194);
    font-weight: 400;
}
.search-input:focus::placeholder{
    color:transparent;
}
.search-line-display0{
    display: flex;
    gap: 0px;
    opacity: 0%;
    font-size: 20px;
    font-weight: 500;
}
.search-line-display1{
    display: flex;
    gap: 0px;
    font-size: 20px;
    font-weight: 500;
}
.search-line-display2{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.search-line-display3{
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}
.btn-group{
    display: flex;
    gap: 7px;
}
.search-station-button{
    border: 1px solid rgb(182, 182, 182);
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    width: 80px;
    border-radius: 8px;
    cursor:pointer;
}
.off{
    display: none;
}
.on{
    display: block;
}
.info{
    display: flex;
    flex-direction: column;
    gap:2px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(80, 80, 80);
}
.notification{
    text-align: center;
}
.reference{
    text-align: center;
}
.search-mean-area{
    display: flex;
    flex-direction: column;
    flex: 0 1 700px;
    gap: 20px;
    padding-top: 40px;
}
.search-mean-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.search-mean-title{
    font-size: 20px;
    font-weight: 700;
}
.search-mean-content{
    border: 1px solid rgb(216, 222, 228);
    height: 240px;
    background-color: rgb(238, 243, 248);
    padding: 10px;
    border-radius: 8px;
    line-height: 140%;
}
.ad{
    width: 728px;
    height: 90px;
    background-color: rgb(173, 173, 173);
}
.divider{
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 1288px;
}
.list-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-containers{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 40px;

}
.list-title{
    font-size: 28px;
    font-weight: 700;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1288px;  
    row-gap: 70px;
    column-gap: 18px;
    padding-bottom: 150px;
}
.list-item{
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.station-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.station-design{
    width: 100%;
    height: 100%;
}
.station-name{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: 500;
}
.mean-content{
    background-color: rgb(233, 238, 241);
    height: 220px;
    padding: 16px;
    font-size: 16px;
    line-height: 150%;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
footer{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    padding: 0px 36px 0px 36px;
    background-color: black;
    justify-content: center;
}
footer div{
    color: rgb(182, 182, 182);
}
footer img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* 랩탑, 라지태블릿 */

@media (max-width: 1390px) {
    header{
        padding: 60px 36px 40px 36px; 
    }
    main{ 
        gap: 70px;
    }
    .search-containers{
        gap: 40px;
    }
    .search-mean-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-mean-content{
        height: 345px;
        width: 345px;
    }
    .ad{
        width: 320px;
        height: 100px;
    }
    .divider{
        width: 936px;
    }
    .list-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 936px;  
        row-gap: 70px;
        column-gap: 18px;
        padding-bottom: 150px;
    }
}

/* 태블릿 */

@media (max-width: 1020px) {
    header{
        padding: 50px 24px 0px 24px; 
    }
    main{
        padding: 0px 24px 0px 24px;
        display: flex;
        flex-direction: column;   
        gap: 60px;
        align-items: center;
    }
    .search-section{
        display: flex;
        width: 100%;
    }
    .search-containers{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .search-station{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .search-design{
        width: 72%;
        height: 100%;
    }
    .search-input{
        width: 86%;
    }
    .search-mean-area{
        display: flex;
        flex-direction: column;
        flex: 0 1 100%;
        gap: 20px;
        padding-top: 10px;
    }
    .search-mean-container{
        width: 100%;
    }
    .search-mean-content{
        width: 100%;
        height: 200px;
    }
    .divider{
        width: 100%;
    }
    .list-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 936px;  
        row-gap: 70px;
        column-gap: 18px;
        padding-bottom: 150px;
    }
    footer{
        padding: 0px 24px 0px 24px;
    }
    footer img{
        display: none;
    }
    footer :nth-child(1){
        display: none;
    }
}

/* 모바일 */

@media (max-width: 585px) {
    header{
        padding: 50px 16px 0px 16px; 
    }
    h1{
        font-size: 26px;
        text-align: center;
    }
    main{
        padding: 0px 16px 0px 16px;
        display: flex;
        flex-direction: column;   
        gap: 40px;
        align-items: center;
    }
    .search-containers{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .search-station{
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .search-design{
        width: 100%;
        height: 100%;
    }
    .search-station-center{
        gap: 14px;
    }
    .search-input{
        width: 100%;
        font-size: 20px;
        padding: 6px 10px 6px 10px;
    }
    .search-line-display0{
        font-size: 18px;
    }
    .search-line-display1{
        font-size: 18px;
    }
    .search-line-display2{
        font-size: 18px;
    }
    .search-line-display3{
        font-size: 18px;
    }
    .search-station-button{
        padding: 8px;
        width: 80px;
    }
    .info{
        font-size: 12px;
    }
    .search-mean-area{
        display: flex;
        flex-direction: column;
        flex: 0 1 100%;
        gap: 20px;
        padding-top: 10px;
    }
    .search-mean-container{
        width: 100%;
    }
    .search-mean-title{
        font-size: 18px;
        font-weight: 700;
    }
    .search-mean-content{
        width: 100%;
        height: 100%;
    }
    .divider{
        width: 100%;
    }
    .list-containers{
        gap: 22px;
    }
    .list-title{
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        width: 100%;
    }
    .list-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 936px;  
        row-gap: 30px;
        column-gap: 18px;
        padding-bottom: 100px;
    }
    .mean-content{
        height: 180px;
    }
    footer{
        justify-content: center;
        height: 40px;
        padding: 0px 16px 0px 16px;
        background-color: black;
    }
    footer div{
        font-size: 14px;
    }
    footer :nth-child(1){
        display: none;
    }
}